.div__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.landingPage__body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px 66px;
}

.loadingSpinner {
    animation: rotate-animation 1s linear infinite;
}

.div__loading {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__value {
    display: flex;
    flex-direction: row;
}

.real__value {
    margin-right: 17px;
    color: #DC6E05;
    font-size: 32px;
}

.discount__value {
    font-size: 32px;
    color: #4E4E4E;
    text-decoration-line: line-through;
}

.div__offer {
    color: #4E4E4E;
    font-size: 28px;
    width: 528.56px;
    height: 91.59px;
    display: flex;
    align-items: center;
}

.div__description {
    width: 597px;
    height: 65.17px;
    font-size: 20px;
    color: #4E4E4E;
}

@media (max-width: 800px) {
    .landingPage__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        padding: 16px;
    }
}
